.connection {
    flex: 1 1 0%;
    background-color: rgb(246, 246, 247);
    padding-top: 64px;
}

.connection_container {
    font-family: "Inter Regular", -apple-system, BlinkMacSystemFont, sans-serif;
    color: rgb(69, 106, 221);
    padding-bottom: 128px;
    padding-top: 24px;
    width: 70%;
    max-width: 900px;
    margin: 0px auto;
    text-align: center;
}

.connection_Containerbox {
    max-width: 600px;
    text-align: left;
    margin: auto;
}

.connectionHeading {
    font-family: "Inter Bold", -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 22px;
    line-height: 1.3;
    font-weight: 700;
    color: rgb(17, 17, 17);
    margin-bottom: 8px;
    font-feature-settings: "cv11";
}

.connectionCard {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    font-family: "Inter Regular", -apple-system, BlinkMacSystemFont, sans-serif;
    color: rgb(69, 106, 221);
    box-sizing: inherit;
    display: flex;
    flex-direction: column;
    justify-content: left;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(224, 229, 247);
    background-color: rgb(255, 255, 255);
    margin: 0px auto;
    max-width: 600px;
    text-align: left;
    padding: 32px 0px;
    margin-bottom: 24px;
}

.connectionProfile {
    padding: 0px 32px;
}

.connectionProfileData {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
    padding: 0px;
}

.connectionProfileDataBottom {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    font-weight: 600;
    text-align: left;
    box-sizing: inherit;
    font-family: "Inter Bold", -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 16px;
    line-height: 1.3;
    color: rgb(17, 17, 17);
    font-feature-settings: "cv11";
    margin: 16px 0px;
}

.connectionProfileDataTop {
    display: flex;
    flex-flow: row nowrap;
    -webkit-box-align: center;
    align-items: center;
    justify-content: left;
    padding: 0px;
}

.connectionProfileDataTop>img {
    height: 69px;
    min-height: 69px;
    max-height: 69px;
    min-width: 69px;
    max-width: 69px;
    border-radius: 50%;
    object-fit: cover;
    transition: all 0.2s ease 0s;
}

.connectionProfilestats {
    display: flex;
    flex-flow: row nowrap;
    -webkit-box-align: center;
    align-items: center;
    justify-content: left;
    padding: 0px;
    margin-left: 16px;
}

.connectionsStatsBox {
    width: 140px;
    height: 69px;
    background-color: rgb(246, 246, 247);
    border-radius: 5px;
    margin: 4px;
    padding: 8px 16px;
    align-items: flex-start;
    -webkit-box-pack: center;
    justify-content: center;
}

.connectionStatsBoximg {
    display: flex;
    flex-flow: row nowrap;
    -webkit-box-align: center;
    align-items: center;
    justify-content: left;
    padding: 0px;
}

.connectionStatsBoximg>p {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    font-weight: 500;
    text-align: left;
    box-sizing: inherit;
    font-family: "Inter Bold", -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 16px;
    line-height: 1.3;
    color: rgb(17, 17, 17);
    font-feature-settings: "cv11";
    margin: 0px 8px;
}

.connectionsStatsBoxName {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    font-weight: 500;
    text-align: left;
    box-sizing: inherit;
    margin-top: 0;
    margin-bottom: 0px;
    font-family: "Inter Regular", -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 16px;
    line-height: 1.45;
    font-feature-settings: "cv11";
    -webkit-font-smoothing: antialiased;
    color: rgb(91, 91, 91);
}

.connectionProfileScore {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    font-family: "Inter Regular", -apple-system, BlinkMacSystemFont, sans-serif;
    color: rgb(69, 106, 221);
    text-align: left;
    box-sizing: inherit;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    justify-content: left;
    padding: 0px;
    width: 100%;
}

.ProfileScoreLinks {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    font-family: "Inter Regular", -apple-system, BlinkMacSystemFont, sans-serif;
    text-align: left;
    box-sizing: inherit;
    background-color: transparent;
    color: #0275d8;
    touch-action: manipulation;
    cursor: pointer;
    text-decoration: none;
    width: 100%;
    margin-top: 4px;
}

.ProfileScoreLinksBox {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    font-family: "Inter Regular", -apple-system, BlinkMacSystemFont, sans-serif;
    text-align: left;
    color: #0275d8;
    cursor: pointer;
    box-sizing: inherit;
    display: flex;
    flex-flow: row nowrap;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    background-color: rgb(246, 246, 247);
    padding: 8px 24px;
    border-radius: 5px;
    -webkit-box-pack: justify;
    justify-content: space-between;
    transition: all 0.2s ease 0s;
}

.ProfileScoreLinksBox:hover {
    background-color: rgb(231, 231, 234);
}

.ProfileScoreLinksName {
    display: flex;
    flex-flow: row nowrap;
    -webkit-box-align: center;
    align-items: center;
    justify-content: left;
    padding: 0px;
}

.ProfileScoreLinksName>p {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    font-weight: 400;
    text-align: left;
    cursor: pointer;
    box-sizing: inherit;
    margin-top: 0;
    margin-bottom: 0px;
    font-family: "Inter Regular", -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 14px;
    line-height: 1.45;
    color: rgb(91, 91, 91);
    font-feature-settings: "cv11";
    -webkit-font-smoothing: antialiased;
    margin-right: 4px;
}

.ProfileScoreLinksName>div {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    font-family: "Inter Regular", -apple-system, BlinkMacSystemFont, sans-serif;
    text-align: left;
    color: #0275d8;
    cursor: pointer;
    box-sizing: inherit;
    display: flex;
    flex-flow: row nowrap;
    -webkit-box-align: center;
    align-items: center;
    padding: 0px;
    background-color: rgb(247, 156, 81);
    -webkit-box-pack: center;
    justify-content: center;
    border-radius: 5px;
    width: 46px;
    height: 24px;
    transition: all 0.2s ease 0s;
}

.ProfileScoreLinksName>div>p {
    outline: none;
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: 600;
}

.ProfileScoreLinksBox>p {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    font-weight: 600;
    text-align: left;
    cursor: pointer;
    box-sizing: inherit;
    margin-top: 0;
    margin-bottom: 0px;
    font-family: "Inter Bold", -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 16px;
    line-height: 1.3;
    font-feature-settings: "cv11";
    color: rgb(69, 106, 221);
    position: relative;
}

.ScoreLinksName {
    margin-bottom: 0px;
    font-family: "Inter Bold", -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 14px;
    line-height: 1.45;
    font-weight: 700 !important;
    color: rgb(17, 17, 17) !important;
    font-feature-settings: "cv11";
    -webkit-font-smoothing: antialiased;
}

.connectionCardSubheading {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    font-weight: 600;
    text-align: left;
    box-sizing: inherit;
    font-family: "Inter Bold", -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 16px;
    line-height: 1.3;
    color: rgb(17, 17, 17);
    font-feature-settings: "cv11";
    margin: 24px 32px 0px;
}

.connectionCard>hr {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    font-family: "Inter Regular", -apple-system, BlinkMacSystemFont, sans-serif;
    color: rgb(69, 106, 221);
    text-align: left;
    box-sizing: content-box;
    height: 0;
    overflow: visible;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, .1);
    margin: 8px 0px 16px;
}

.connectionCardUsers{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}

.connectionCardUsers > p {
    color: rgba(151, 151, 151, 0.836) !important;
    font-size: 16px !important;
    font-weight: 600 !important;
}