.details {
    font-family: "Inter Regular", -apple-system, BlinkMacSystemFont, sans-serif;
    color: rgb(69, 106, 221);
    padding-bottom: 128px;
    padding-top: 24px;
    width: 70%;
    max-width: 900px;
    margin: 0px auto;
    text-align: center;
}

.progress_bar {
    display: flex;
    flex-direction: row;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    max-width: 486px;
    margin: 24px auto 0px;
}

.progrss_main {
    width: 200px;
    text-align: center;
}

.progrss_main>.icons {
    display: flex;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
}

.progrss_line {
    -webkit-box-flex: 1;
    flex-grow: 1;
    max-width: 50%;
    height: 1px;
    opacity: 1;
    background-color: rgb(224, 229, 247);
    transition: all 0.2s ease 0s;

}

.progress_line {
    -webkit-box-flex: 1;
    flex-grow: 1;
    max-width: 50%;
    height: 1px;
    opacity: 0;
    background-color: rgb(69, 106, 221);
    transition: all 0.2s ease 0s;
}

.progress_line_animate {
    -webkit-box-flex: 1;
    flex-grow: 1;
    max-width: 50%;
    height: 1px;
    opacity: 1;
    background-color: rgb(224, 229, 247);
    transition: all 0.2s ease 0s;
}

.details_main {
    margin: 64px auto 24px;
    max-width: 500px;
}

.details_big {
    font-family: "Inter Bold", -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 22px;
    line-height: 1.3;
    color: rgb(17, 17, 17);
    margin-bottom: 8px;
    font-weight: bolder;
    font-feature-settings: "cv11";
}

.details_small {

    margin-bottom: 0px;
    font-family: "Inter Regular", -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 14px;
    line-height: 1.3;
    color: rgb(17, 17, 17);
    font-feature-settings: "cv11";
}

.details_country {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    margin: 10px auto;
    padding-top: 20px;
    text-align: center;
    width: 100%;
    color: rgb(19, 18, 18);
}

.details_country > .country_selector {
    border-radius: 50px;
    width: 100vh;
}