.card1 {
    background-color: rgb(255, 255, 255);
    padding: 16px;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
}

.card2 {
    background-color: rgb(255, 255, 255);
    padding: 16px;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
}

.card_animation>* {
    position: absolute;
    right: 5%;
    animation: 16s autoplay6 infinite linear;
}

.card>* {
    position: absolute;
    left: 50%;
    animation: 16s autoplay6 infinite ease-in-out;
}

@keyframes autoplay6 {
    0% {
        opacity: 0.0
    }

    4% {
        opacity: 1.0
    }

    33.33% {
        opacity: 1.0
    }

    37.33% {
        opacity: 0.0
    }

    100% {
        opacity: 0.0
    }
}

.card>*:nth-child(1) {
    animation-delay: 0s
}

.card>*:nth-child(2) {
    animation-delay: 2s
}

.card>*:nth-child(3) {
    animation-delay: 4s
}

.card>*:nth-child(4) {
    animation-delay: 8s
}

.card>*:nth-child(5) {
    animation-delay: 12s
}

.card>*:nth-child(6) {
    animation-delay: 16s;
}

.card_animation>*:nth-child(1) {
    animation-delay: 0s
}

.card_animation>*:nth-child(2) {
    animation-delay: 2s
}

.card_animation>*:nth-child(3) {
    animation-delay: 4s
}

.card_animation>*:nth-child(4) {
    animation-delay: 8s
}

.card_animation>*:nth-child(5) {
    animation-delay: 12s
}

.card_animation>*:nth-child(6) {
    animation-delay: 16s;
}



.top {
    margin-bottom: 16px;
    align-items: flex-start;
    display: flex;
    flex-flow: row nowrap;
    -webkit-box-align: center;
    align-items: center;
    justify-content: left;
    padding: 0px;
}

.top>img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.top_details {
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding: 0px;
    margin-left: 8px;
}

.top_details>p {
    font-family: "Inter SemiBold", -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 14px;
    color: rgb(38, 45, 68);
    transition: all 0.2s ease 0s;
}

.card1_summary,
.card2_summary {
    font-size: 18px;
    color: rgb(38, 45, 68);
    transition: all 0.2s ease 0s;
}

.top_email {
    opacity: 0.4;
}

.testimonial_main {
    display: flex;
    flex-flow: row nowrap;
    -webkit-box-align: center;
    align-items: center;
    justify-content: left;
    padding: 0px;
    gap: 20px;
}

@media screen and (min-width: 601px) {

    .card1,
    .card2 {
        width: 300px;
        margin-bottom: 24px;
    }
}